@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    font-family: "Quicksand", serif;
  padding: 0;
  margin: 0;
}
.section-container{
    max-width: 85%;
    margin: auto;
}
.logo{
    display: flex;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.mobile-btn{
    display: none;
    color: black;
    font: 18px;
}
.navbar li a{
    text-decoration: none;
    font-weight: 500;
}
.navbar li{
    list-style: none;
}
.navbar{
    display: flex;
    gap: 20px;
}
.contact-button{
    padding: 10px 30px;
    border-radius: 7px;
    background-color: #FEA301;
    border: 1px;
    color: white;
    font-weight: 500;
}
#item1 a{
    color: #FEA301;
}
#item2 a{
    color: #01ACFD;
}
#item3 a{
    color: #05D4DF;
}
#item4 a{
    color: #5D58EF;
}s
header{
    padding: 15px 0;
}
.banner-section {
    padding: 35px 0;
}
.banner-wraper{
    display: flex;
    align-items: center;
    gap: 20px;
}
.banner-wraper h1{
    font-size: 45px;
    font-weight: 700;
}
.banner-wraper p{
    font-size: 15px;

}
p{
    margin: 15px 0;
    margin-bottom: 25px;
}
.banner-wraper button ,.view-button{
    padding: 10px 25px;
    background: black;
    color: white;
    border-radius: 5px;
    border: 1px solid;
}
.hero-image{
    width: 40%;
}
.hero-left{
    width: calc(100% - 40%);
}
.hero-image img {
    max-width: 100%;
}

/*curriculam section style start*/
h2.section-title {
    font-size: 2.73rem;
    text-align: center;
    margin-bottom: 60px;
}

.curriculam-wrapper .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 30px;
}

.curriculam-wrapper .card-container .single-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 45px 25px;
    border-radius: 10px;
    background: linear-gradient(180deg, #DEF5FF, white 40%);
    border: 1px solid;
}

.curriculam-wrapper .card-container .single-card:nth-child(2) {
    background: linear-gradient(180deg, #FFF4DC, white 40%);
}

.curriculam-wrapper .card-container .single-card:last-child {
    background: linear-gradient(180deg, #F2E8FF, white 40%);
}
.curriculam-section{
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
}
.card-container .single-card>h3 {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}

.single-card>a {
    color: #64C8FF;
    font-weight: 700;
    font-size: 14px;
}

.card-container .single-card>p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #808080;
    line-height: 1.4rem;
}
section.curriculam-section {
    padding: 35px 0;
}

.grid-layout-inner {
    display: grid;
    grid-template-columns: 45% 1fr 1fr;
    gap: 30px;
}

.grid-layout-inner .big-box {
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-layout-inner .big-box img {
    width: 100%;
    height: 100%;
}

.grid-layout-inner .grid-box {
    border-radius: 10px;
    overflow: hidden;
    background: white;
}

.grid-layout-inner .grid-box h3 {
    font-size: 16px;
    font-weight: 700;
}

.grid-layout-inner .grid-box .grid-content {
    padding: 15px;
    position: relative;
}

.grid-layout-inner .grid-box .grid-content span {
    padding: 5px 20px;
    border-radius: 50px;
    background: #3CD8E8;
    font-size: 15px;
    color: white;
    font-weight: 600;
    position: absolute;
    top: -20px;
}

.grid-layout-inner .grid-box .grid-content p {
    font-size: 15px;
    line-height: 1.5rem;
    color: #444;
}

.grid-layout-inner .grid-box.big-box h3 {
    font-size: 26px;
}
header {
    padding: 15px 0;
    background: #f7f7f7;
}

section {
    background: #f7f7f7;
}

section.grid-layout {
    padding: 35px 0;
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
    padding-bottom: 80px;
}
footer {
    padding: 35px 0;
    background: #01ACFD;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: 45% 1fr 1fr;
    gap: 30px;
}

.footer-box h3 {
    font-size: 26px;
    color: white;
    margin-bottom: 20px;
}

.footer-box ul li {
    list-style: none;
}

.footer-box ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.footer-box ul li  a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.footer-link {
    display: flex;
    gap: 10px;
}
.bottom-logo {
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
}

.footer-box p {
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.slider-nav{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}
.slider-nav span {
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    font-size: 20px;
    background-color: #FEA301;
    color: white;
    border-radius: 50%;
}
.view-button-area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}




/*code for responsive screen size*/
@media only screen and (max-width: 991px){
    .section-container{
        max-width: 90%;
    }
    .grid-layout-inner .grid-box h3 {
        font-size: 12px;
    }
    
    .grid-layout-inner .grid-box .grid-content span {
        font-size: 13px;
        padding: 5px;
    }

    .footer-wrapper{
        grid-template-columns: 1fr 1fr
    }
}


/*code for responsive screen size*/
@media only screen and (max-width: 768px){
    .banner-wraper h1{
        font-size: 30px;
        text-align: center;
    }
    .banner-wraper p{
        text-align: center;
    }
    .banner-wraper{
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .hero-left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        justify-content: center;
    }
    .hero-image{
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-wrapper{
        grid-template-columns: 1fr;
    }
    .grid-layout-inner{
        grid-template-columns: 1fr 1fr;
    }
    .big-box{
        display: none;
    }
    .grid-layout-inner .grid-box h3 {
        font-size: 16px;
    }
    .navbar{
        display: none;
    }

    .contact-button{
        display: none;
    }
    .mobile-btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 30px;
    }
    .slider-nav{
        display: none;
    }
    header {
        border-bottom: 1px solid #FEA301;
    }
    h2.section-title{
        font-size: 33px;
    }
    
}